* {
    background-color: #f2f8a0;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 15px;   
}

#notes {
    margin-top: 20px;
    padding: 50px;
}

#note_characters {
    visibility: hidden;
}

#number_of_notes {
    visibility: hidden;
}